body {
    background-color: #232322;
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    background: purple;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
}

#stripe {
    padding: 15px;
    background: whitesmoke;
    height: auto;
    text-align: center;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

#container {
    margin: 0 auto 0 auto;
    max-width: 600px;
}

.selected {
    background: blue;
}