/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Clean start, deletes different properties added by browsers. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

/*
*
* Properties for header.
*
*/
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      /* Gradient direction start at left top and will end at right bottom*/
        rgba(126, 213, 11, 0.6),
      rgba(40, 180, 131, 0.6)
    ),
    url("../img/hero.jpg");
  position: relative;
  /* Relative position allows us to use left, top, etc... , z index  */
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-container {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px;
}

/* Display block property makes elements use
100% of their container. Also makes line jumps automatically. */
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1.5s;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17.5px;

  animation-name: moveInRight;
  animation-duration: 1.5s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  padding: 15px 40px;
  display: inline-block;
  transition: transform 0.7s;
}

.button-white {
  background-color: #fff;
  color: #777;
}

.button:hover {
  transition-duration: 0.1s;
  transform: translateY(-3px);
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(1px);
  transition-duration: 0.1s;
}
